html {
    overflow-y: scroll; 
}

body {
    /*color: #FFFFFF;
    background-color: #222222;*/
	padding-top:65px;
}

p {
    margin: 0 0 5px;
}

#forumitem {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

#forumitem img {
    width: 16px;
    height: 16px;
}

.footer {
    color: silver;
}

#author { 
    color:#A00
}

.panel-index {
    padding: 0;
}

.well-sm {
    padding: 9px 0;
}

.container hr {
    margin: 20px 0 5px 0;
}

.page-header {
    margin: 0 0 20px;
    padding-bottom: 2px;
}

.nav-header {
    color: #999;
}

.splash-cover {
    background: #363b48;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 2;
    opacity: 0.85;
    filter: alpha(opacity=85);
}

.splash-block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.splash-block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 100px 0;
}

.changelog {
    border: 2px solid #000;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: scroll;
    width: 100%;
    height: 600px;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}