html {
    overflow-y: scroll; 
}

.jumbotron {
    padding: 30px 15px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*color: #FFFFFF; background-color: #222222; 
	padding: 65px;
	font-family: "Segoe UI", sans-serif, Verdana, Helvetica, Arial;*/
}

p {
    margin: 0 0 5px;
}

#forumitem {
    font-size: 12px;
    font-family: ;
}

#forumitem img {
    width: 16px;
    height: 16px;
}

.footer {
    color: silver;
}

#author { 
    color:#A00
}

.panel-index {
    padding: 0;
}

.well-sm {
    padding: 9px 0;
}

/*.container hr {
    margin: 20px 0 5px 0;
}

.page-header {
    margin: 0 0 20px;
    padding-bottom: 2px;
}*/

.nav-header {
    color: #999;
}

@media (min-width: 768px) {
.box
{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 0px solid #eee;
}
}

@media (max-width: 768px) {
.box
{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
}
.centered {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 100px 0;
}

.info dt {
float: left;
font-weight: bold;
padding: 3px 6px;
clear: both;
width: 30%;
}