body {
    color: #333;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    margin: 0;
}

b,
strong {
    font-weight: bold;
}

code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    color: #d14;
    padding: 0.5px 4px;
}

code {
    font-family: monospace, serif;
    font-size: 1em;
}

code {
    border-radius: 4px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
}

h2,
h3 {
    font-size: 100%;
    font-weight: normal;
}

h3 {
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 8px;
}

img {
    border: 0;
}

li {
    padding-bottom: 0.5em;
    margin-left: 12px;
}

ul {
    padding: 0;
}

.center {
    text-align: center;
}

.ft {
    font: bold 10px Verdana, Arial, Helvetica, sans-serif;
}

.forumdate {
    color: silver;
    padding: 0 0 5px 0;
}

.ohloh-kudos {
    position: absolute;
    right: 0;
    top: 10px;
}

.ohloh-commits {
    bottom: 0;
    position: absolute;
    right: 0;
}

.page {
    margin: 0 auto;
    max-width: 90em;
    padding: 0 10px 5px 10px;
    position: relative; /* Addthis div alignment */
}

.summary {
    padding-right: 300px;
}

.user-avatar {
    background: white;
    border: 1px solid #E5DFC7;
    display: block;
    float: left;
    margin: 15px 10px 0 0;
    padding: 4px;
}

.yui-d0 {
    margin: auto;
    text-align: left;
    width: 57.69em;
}

.yui-t4 {
    margin: auto;
    text-align: left;
    width: 100%;
}

.yui-d0 {
    width: auto;
}

.yui-b {
    position: relative;
}

.yui-t4 .yui-b {
    float: right;
    width: 20em;
}

.yui-g .yui-u,
.yui-g .yui-g,
.yui-g .yui-gb,
.yui-g .yui-gc,
.yui-g .yui-gd,
.yui-g .yui-ge,
.yui-g .yui-gf,
.yui-gc .yui-u,
.yui-gd .yui-g,
.yui-g .yui-gc .yui-u,
.yui-ge .yui-u,
.yui-ge .yui-g,
.yui-gf .yui-g,
.yui-gf .yui-u {
    float: right;
}

.yui-g div.first,
.yui-gb div.first,
.yui-gc div.first,
.yui-gd div.first,
.yui-ge div.first,
.yui-gf div.first,
.yui-g .yui-gc div.first,
.yui-g .yui-ge div.first,
.yui-gc div.first div.first {
    float: left;
}

.yui-g .yui-u,
.yui-g .yui-g,
.yui-g .yui-gb,
.yui-g .yui-gc,
.yui-g .yui-gd,
.yui-g .yui-ge,
.yui-g .yui-gf {
    width: 49.1%;
}

.yui-g:after,
.yui-gb:after,
.yui-gc:after,
.yui-gd:after,
.yui-ge:after,
.yui-gf:after,
.yui-t1:after,
.yui-t2:after,
.yui-t3:after,
.yui-t4:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.portlet {
    border-top: 1px solid #EBEBEB;
    clear: both;
    padding: 0 0 1em;
}

.portlet > h2:first-child {
    margin-top: 0;
}

.portlet li {
    list-style-type: none;
}

:link,
*:visited {
    color: #0033AA;
    text-decoration: none;
}

:link:active,
*:visited:active {
    color: #3366CC;
}

:link:hover,
*:visited:hover {
    text-decoration: underline;
}

a[onclick],
a[onclick]:active {
    color: #009933;
}

.flowed-block {
    display: inline-block;
    padding: 0 0 0 10px;
    text-align: left;
    vertical-align: top;
}

div.watermark-apps-portlet h2 {
    clear: none;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    margin: 0 auto 6px;
}

.watermark-apps-portlet li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

.watermark-apps-portlet li a,
.watermark-apps-portlet li span {
    margin-right: 0.4em;
    padding: 0.3em 0.5em;
}

.watermark-apps-portlet li:first-child a,
.watermark-apps-portlet li:first-child span {
    margin-left: -0.5em;
}

.watermark-apps-portlet li a:link,
.watermark-apps-portlet li a:visited {
    background-color: #FFF;
    color: #000;
    text-decoration: none;
}

.watermark-apps-portlet li.active a {
    font-weight: bold;
}

.watermark-apps-portlet li a:hover {
    background-color: #F3F3F3;
    color: #000;
}

.facetmenu {
    width: 100%;
}

.downloads li {
    font-weight: bold;
    margin: 0;
    padding: 2px 0 0;
}

.downloads li a {
    background: url("/images/project-downloads.png") no-repeat scroll right center #4F843C;
    border-radius: 3px;
    color: #FFF;
    display: block;
    margin: 0;
    padding: 6% 40px 6% 6%;
    text-decoration: none;
}

.downloads .version {
    background: none repeat scroll 0 0 #D3E3C7;
    border-radius: 5px 5px 0 0;
    padding: 0.2em 1em;
}

.downloads .released {
    background: none repeat scroll 0 0 #D3E3C7;
    border-radius: 0 0 5px 5px;
    margin: 0.3em 0 0.5em;
    padding: 0.2em 1em;
}

.side .portlet {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    margin: 0 auto 1em;
    padding: 0.5em;
}

.side h2 {
    font-size: 16px;
}

.side ul {
    background: none repeat scroll 0 0 #FBFBFB;

}

.description ul {
    margin-left: 0;
}

.involvement a {
    background: url("/images/answers-arrow-right.png") no-repeat scroll right center transparent;
    display: block;
    padding: 0.3em;
}

.involvement li {
    font-weight: bold;
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.involvement a:hover,
.involvement li:hover {
    background-color: #EEE;
    text-decoration: none;
}
