body {
    color: black;
    font: normal 12px Tahoma,arial,sans-serif;
    margin: 0;
}

strong {
    font-weight: bold;
}

code {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    color: #D14;
    font-family: monospace, serif;
    font-size: 1em;
    padding: 0.5px 4px;
}

code,
.side .portlet {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

dd {
    margin-left: 10px;
}

dt {
    font-weight: bold;
    margin: 15px auto 5px;
}

footer {
    margin: 10px auto;
    text-align: center;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 18px;
}

h3 {
    line-height: 20px;
    margin: 16px auto 8px;
}

h3,
.side h2 {
    font-size: 16px;
}

img {
    border: 0;
}

li {
    padding-bottom: 0.5em;
    margin-left: 12px;
}

nav a {
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    margin-right: 0.4em;
    padding: 0.3em 0.5em;
}

nav .active a {
    background-color: Gainsboro;
    font-weight: bold;
}

nav a:link,
nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: lightgray;
}

nav h2 {
    clear: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    margin: 0 auto;
}

nav li {
    display: inline-block;
    margin: 0;
}

nav li:first-child {
    margin-left: -0.5em;
}

nav li,
.portlet li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.center {
    text-align: center;
}

.changelog {
    border: 2px solid black;
    overflow: scroll;
    width: 800px;
    height: 600px;
}

.ft {
    font: bold 10px Verdana, Arial, Helvetica, sans-serif;
}

.forumdate {
    color: silver;
    padding: 0 0 5px;
}

.about-li {
    list-style-type: none;
    margin-left: 0;
    padding-top: 4px;
}

.coder {
    color: #AA0000 !important;
}

.dev {
    position: relative;
}

.ohloh-kudos {
    position: absolute;
    right: 0;
    top: 10px;
}

.ohloh-commits {
    bottom: 0;
    position: absolute;
    right: 0;
}

.user-avatar {
    background: white;
    border: 1px solid #E5DFC7;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 4px;
}

.xhmikosr {
    color: blue;
}

.page {
    margin: 0 auto;
    max-width: 90em;
    padding: 0 10px 5px;
    position: relative; /* Addthis div alignment */
}

.pre-section {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

.main-section {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clear: both;
    padding-top: 1px;
}

.main-section-2 {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

.section-header {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border-top: dotted 1px;
    margin-top: 40px;
}

.headline {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.main-headline {
    margin-bottom: 40px;
}

.main-section .headline {
    text-align: left;
}

.bottom-download {
    text-align: center !important;
    font-size: 20px;
}

.tip {
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    text-align: left;
}

.normal {
    text-align: left;
}

.yui-d0 {
    margin: auto;
    width: auto;
}

.yui-t4 {
    margin: auto;
    width: 700px;
}

.yui-b {
    position: relative;
}

.yui-t4 .yui-b {
    float: right;
    width: 20em;
}

.yui-g .yui-u,
.yui-g .yui-g {
    float: right;
}

.yui-g .first {
    float: left;
}

.yui-g .yui-u,
.yui-g .yui-g {
    width: 49.1%;
}

.yui-g:after,
.yui-t4:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.portlet {
    /*border-top: 1px solid #EBEBEB;*/
    clear: both;
    padding: 0 0 1em;
}

.portlet > h2:first-child {
    margin: 0;
}

.portlet p {
    margin: 5px 0 5px 0;
}

:link,
*:visited {
    color: #0033AA;
    text-decoration: none;
}

:link:hover,
*:visited:hover {
    text-decoration: underline;
}

.flowed-block {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
}

.facetmenu {
    width: 100%;
}

.quick-links {
    width: 250px;
}

.downloads {
    width: 250px;
}

.downloads li {
    font-weight: bold;
    margin: 0;
    padding: 2px 0 0;
}

.downloads li a {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #BBDAF7;
       -moz-box-shadow: inset 0 1px 0 0 #BBDAF7;
            box-shadow: inset 0 1px 0 0 #BBDAF7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1C8D2E), color-stop(1, #629D4F)); /* Chrome, Safari4+ */
    background-image: -webkit-linear-gradient(center top, #1C8D2E 5%, #629D4F 100%); /* Chrome10+, Safari5.1+ */
    background-image:    -moz-linear-gradient(center top, #1C8D2E 5%, #629D4F 100%); /* FF3.6+ */
    background-image:     -ms-linear-gradient(center top, #1C8D2E 5%, #629D4F 100%); /* IE10+ */
    background-image:      -o-linear-gradient(center top, #1C8D2E 5%, #629D4F 100%); /* Opera 11.10+ */
    background-image:         linear-gradient(to bottom,  #1C8D2E 5%, #629D4F 100%); /* W3C */
    background-color: #1C8D2E;
    border: 1px solid #1C8D2E;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 0.7em 1em;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #528ecc;
    width: 87%;
}

.downloads li a:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #629D4F), color-stop(1, #1C8D2E)); /* Chrome, Safari4+ */
    background-image: -webkit-linear-gradient(center top, #629D4F 5%, #1C8D2E 100%); /* Chrome10+, Safari5.1+ */
    background-image:    -moz-linear-gradient(center top, #629D4F 5%, #1C8D2E 100%); /* FF3.6+ */
    background-image:     -ms-linear-gradient(center top, #629D4F 5%, #1C8D2E 100%); /* IE10+ */
    background-image:      -o-linear-gradient(center top, #629D4F 5%, #1C8D2E 100%); /* Opera 11.10+ */
    background-image:         linear-gradient(to bottom,  #629D4F 5%, #1C8D2E 100%); /* W3C */
    background-color: #629D4F;
}

.downloads ul {
    margin: 0;
}

.version {
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
    color: black;
}

.donate {
    margin-top: 5px;
}

.all-downloads {
    text-align: center;
    padding: 0.2em 1em;
}

.side .portlet {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #DEDEDE;
    margin: 0 auto 1em;
    padding: 0.5em;
}

.involvement a {
    background: url("/images/answers-arrow-right.png") no-repeat scroll right center transparent;
    display: block;
    padding: 0.1em;
}

.involvement li {
    font-weight: bold;
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.involvement a:hover,
.involvement li:hover {
    background-color: lightgray;
    text-decoration: none;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

.author {
    color: silver;
}

::-moz-selection {
    background-color: #B3D4FC;
    text-shadow: none;
}

::selection {
    background-color: #B3D4FC;
    text-shadow: none;
}
