<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessHacker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProcessHacker.Properties.Settings>
            <setting name="RefreshInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>820, 549</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="SplitterDistance" serializeAs="String">
                <value>355</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DebugMem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchType" serializeAs="String">
                <value>&amp;String Scan...</value>
            </setting>
            <setting name="ShowAccountDomains" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarnDangerous" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessTreeColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="ThreadListViewColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="ResultsWindowSize" serializeAs="String">
                <value>504, 482</value>
            </setting>
            <setting name="ModuleListViewColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="MemoryListViewColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="MemoryWindowSize" serializeAs="String">
                <value>791, 503</value>
            </setting>
            <setting name="ResultsListViewColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="ProcessWindowSelectedTab" serializeAs="String">
                <value>tabGeneral</value>
            </setting>
            <setting name="PrivilegeListColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupListColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="TokenWindowSize" serializeAs="String">
                <value>481, 468</value>
            </setting>
            <setting name="PEWindowSize" serializeAs="String">
                <value>439, 413</value>
            </setting>
            <setting name="PECOFFHColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="PECOFFOHColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="PEImageDataColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="PESectionsColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="PEExportsColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="PEImportsColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchEngine" serializeAs="String">
                <value>http://www.google.com/search?q=%s</value>
            </setting>
            <setting name="ColorNewProcesses" serializeAs="String">
                <value>Chartreuse</value>
            </setting>
            <setting name="ColorRemovedProcesses" serializeAs="String">
                <value>255, 60, 40</value>
            </setting>
            <setting name="ColorOwnProcesses" serializeAs="String">
                <value>255, 255, 170</value>
            </setting>
            <setting name="ColorElevatedProcesses" serializeAs="String">
                <value>255, 170, 102</value>
            </setting>
            <setting name="ColorSystemProcesses" serializeAs="String">
                <value>170, 204, 255</value>
            </setting>
            <setting name="HighlightingDuration" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThreadWindowSize" serializeAs="String">
                <value>415, 503</value>
            </setting>
            <setting name="CallStackColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="UseToolhelpModules" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewProcesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerminatedProcesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewServices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartedServices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StoppedServices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeletedServices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideHandlesNoName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServiceListViewColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="HandleListViewColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterHandleListViewColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterHandleWindowSize" serializeAs="String">
                <value>554, 463</value>
            </setting>
            <setting name="ColorBeingDebugged" serializeAs="String">
                <value>204, 187, 255</value>
            </setting>
            <setting name="ColorServiceProcesses" serializeAs="String">
                <value>204, 255, 255</value>
            </setting>
            <setting name="PromptBoxText" serializeAs="String">
                <value />
            </setting>
            <setting name="RunAsUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="RunAsCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="TokenWindowTab" serializeAs="String">
                <value>tabPrivileges</value>
            </setting>
            <setting name="HideWhenMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessWindowSize" serializeAs="String">
                <value>493, 465</value>
            </setting>
            <setting name="PlotterAntialias" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlotterCPUKernelColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="PlotterCPUUserColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="PlotterMemoryPrivateColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="PlotterMemoryWSColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="PlotterIOROColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="PlotterIOWColor" serializeAs="String">
                <value>DarkViolet</value>
            </setting>
            <setting name="ColorJobProcesses" serializeAs="String">
                <value>Peru</value>
            </setting>
            <setting name="ShowOneGraphPerCPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnitSpecifier" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ColorDotNetProcesses" serializeAs="String">
                <value>222, 255, 0</value>
            </setting>
            <setting name="ColorPackedProcesses" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="VerifySignatures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NetworkListViewColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableKPH" serializeAs="String">
                <value>False</value>
            </setting>
        </ProcessHacker.Properties.Settings>
    </userSettings>
</configuration>