<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessHacker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProcessHacker.Properties.Settings>
            <setting name="RefreshInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="textMinSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="heapMinSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>820, 549</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="SplitterDistance" serializeAs="String">
                <value>355</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DebugMem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchType" serializeAs="String">
                <value>&amp;Literal Search...</value>
            </setting>
            <setting name="ShowAccountDomains" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarnDangerous" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessListViewColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="ThreadListViewColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="ResultsWindowSize" serializeAs="String">
                <value>504, 482</value>
            </setting>
            <setting name="ModuleListViewColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="MemoryListViewColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="MemoryWindowSize" serializeAs="String">
                <value>791, 503</value>
            </setting>
            <setting name="ResultsListViewColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTab" serializeAs="String">
                <value>tabProcesses</value>
            </setting>
            <setting name="PrivilegeListColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="PrivilegeWindowSize" serializeAs="String">
                <value>464, 473</value>
            </setting>
            <setting name="GroupListColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupWindowSize" serializeAs="String">
                <value>477, 468</value>
            </setting>
            <setting name="PEWindowSize" serializeAs="String">
                <value>439, 413</value>
            </setting>
            <setting name="PECOFFHColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="PECOFFOHColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="PEImageDataColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="PESectionsColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="PEExportsColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="PEImportsColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchEngine" serializeAs="String">
                <value>http://www.google.com/search?q=%s</value>
            </setting>
            <setting name="ColorNewProcesses" serializeAs="String">
                <value>170, 255, 170</value>
            </setting>
            <setting name="ColorRemovedProcesses" serializeAs="String">
                <value>255, 170, 170</value>
            </setting>
            <setting name="ColorOwnProcesses" serializeAs="String">
                <value>255, 255, 170</value>
            </setting>
            <setting name="ColorHighlight" serializeAs="String">
                <value>255, 85, 85</value>
            </setting>
            <setting name="ColorSystemProcesses" serializeAs="String">
                <value>170, 204, 255</value>
            </setting>
            <setting name="HighlightingDuration" serializeAs="String">
                <value>1000</value>
            </setting>
        </ProcessHacker.Properties.Settings>
    </userSettings>
</configuration>