<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessHacker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProcessHacker.Properties.Settings>
            <setting name="RefreshInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="textMinSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="heapMinSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>820, 549</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="SplitterDistance" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DebugMem" serializeAs="String">
                <value>False</value>
            </setting>
        </ProcessHacker.Properties.Settings>
    </userSettings>
</configuration>