<?xml version="1.0"?>
<settings>
  
  <setting id="AppUpdateUrl">
    <value>http://processhacker.sourceforge.net/AppUpdate.xml</value>
    <defvalue>http://processhacker.sourceforge.net/AppUpdate.xml</defvalue>
  </setting>

  <setting id="RefreshInterval">
    <value>1000</value>
    <defvalue>1000</defvalue>
  </setting>

  <setting id="ShowAccountDomains">
    <value>0</value>
    <defvalue>0</defvalue>
  </setting>

  <setting id="DbgHelpPath">
    <value>dbghelp.dll</value>
    <defvalue>dbghelp.dll</defvalue>
  </setting>
  
</settings>