RewriteEngine On

ErrorDocument 403 /error.php
ErrorDocument 404 /error.php

<Files "config.php">
Order Allow,Deny
Deny from All
</Files>

# 2 DAYS
<FilesMatch "\.(xml|txt|css|js)$">
Header set Cache-Control "max-age=172800, proxy-revalidate"

ExpiresActive On
ExpiresByType text/xml "access plus 4 hours"
ExpiresByType image/gif "access plus 60 days"
ExpiresByType image/jpg "access plus 60 days"
ExpiresByType image/png "access plus 60 days"
ExpiresByType application/x-javascript "access plus 60 days"
ExpiresByType text/css "access plus 60 days"
ExpiresByType image/x-icon "access plus 360 days"
</FilesMatch>

php_value memory_limit 32M