RewriteEngine On

ErrorDocument 403 /error.php
ErrorDocument 404 /error.php

<Files "config.php">
Order Allow,Deny
Deny from All
</Files>

# 2 DAYS
<FilesMatch "\.(xml|txt|css|js)$">
Header set Cache-Control "max-age=172800, proxy-revalidate"

ExpiresActive On
ExpiresDefault "access plus 4 hours"
ExpiresByType text/xml "access plus 4 hours"
ExpiresByType application/javascript "access plus 1 month"
ExpiresByType application/x-javascript "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
</FilesMatch>

php_value memory_limit 32M